/*

*/
$content-area-namespace: l- !default;

$content-area-min-width: 30em !default;
$content-area-max-width: 42em !default;
$content-area-breakpoint: 60em !default;

$content-area-spacing-unit: 2rem !default;
$content-area-spacing-unit--small: ($content-area-spacing-unit / 2) !default;
$content-area-spacing-unit--large: ($content-area-spacing-unit * 2) !default;

$content-area-pull-out-side: left !default;
$content-area-main-side: false;


$content-area-pull-out-side-space: 0 $content-area-spacing-unit 0 0 !default;

@if $content-area-pull-out-side == left {
    $content-area-main-side: right;
} @else {
    $content-area-main-side: left;
}

/*
@mixin content-area-size ($width, $breakpoint) {

    .content-area
}
*/
.#{$content-area-namespace}content-area {

    &#{&} {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;

        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;

        margin: 0;
        padding: 0 $content-area-spacing-unit;
    }

    #{&}__main {
        width: 100%;
        max-width: $content-area-max-width;
        margin-left: auto;
        margin-right: auto;
    }
    
}

@media only screen and (min-width: $content-area-breakpoint) {

    .#{$content-area-namespace}content-area {

        &#{&}--has-pull-outs #{&}__main {
            /* For Block formatting context (contain float): */
            display: table;
            display: flow-root;

            //max-width: calc(#{$content-area-max-width + ($content-area-max-width / 3)} + #{$content-area-spacing-unit * 4};
            max-width: calc(#{$content-area-max-width} + #{$content-area-max-width / 2} + #{$content-area-spacing-unit * 5});
        }

        /* Position all children: */
        &#{&}--has-pull-outs #{&}__main > * {
            width: 66.666%;
            float: $content-area-main-side;
            padding: 0 $content-area-spacing-unit;
        }

        /* Pull out: */
        &#{&}--has-pull-outs #{&}__main > #{&}__pull-out {
            width: 33.333%;
            float: $content-area-pull-out-side;
            padding: $content-area-pull-out-side-space;
            margin: 0;
            clear: right;
        }
        
        &#{&}--has-pull-outs #{&}__main__headline_image {
            padding: 0;
        }

    }

}
