/*
    Experimental. Not decided if I want to do this yet, and if so how.
    Idea is that if I have to support IE9 NOW, I won't in the future so it'll be easier to drop
    support by keeping this seperate.
    
    UPDATE - Actually, why bother? IE9 usage for trials sites is low - the 100's of hits are for 
    elsewhere - and the CURRENT trials sites get unstyled content for IE9 anyway, so why put effort
    into improving that?
*/
/*
    Col to Row

*/
.l-col-to-row {
  clear: both;
}

.l-col-to-row::after {
  display: table;
  content: "";
  clear: both;
}

.l-col-to-row__item {
  float: left;
  max-width: 100%;
}

.ff-width-100--10--20 {
  width: 20%;
  min-width: none;
  max-width: none;
}

.ff-width-100--10--25 {
  width: 25%;
  min-width: none;
  max-width: none;
}

.ff-width-100--10--33-333 {
  width: 33.333%;
  min-width: none;
  max-width: none;
}

.ff-width-100--10--40 {
  width: 40%;
  min-width: none;
  max-width: none;
}

.ff-width-100--10--50 {
  width: 50%;
  min-width: none;
  max-width: none;
}

.ff-width-100--10--60 {
  width: 60%;
  min-width: none;
  max-width: none;
}

.ff-width-100--10--66-666 {
  width: 66.666%;
  min-width: none;
  max-width: none;
}

.ff-width-100--10--75 {
  width: 75%;
  min-width: none;
  max-width: none;
}

.ff-width-100--10--80 {
  width: 80%;
  min-width: none;
  max-width: none;
}

.ff-width-100--15--20 {
  width: 20%;
  min-width: none;
  max-width: none;
}

.ff-width-100--15--25 {
  width: 25%;
  min-width: none;
  max-width: none;
}

.ff-width-100--15--33-333 {
  width: 33.333%;
  min-width: none;
  max-width: none;
}

.ff-width-100--15--40 {
  width: 40%;
  min-width: none;
  max-width: none;
}

.ff-width-100--15--50 {
  width: 50%;
  min-width: none;
  max-width: none;
}

.ff-width-100--15--60 {
  width: 60%;
  min-width: none;
  max-width: none;
}

.ff-width-100--15--66-666 {
  width: 66.666%;
  min-width: none;
  max-width: none;
}

.ff-width-100--15--75 {
  width: 75%;
  min-width: none;
  max-width: none;
}

.ff-width-100--15--80 {
  width: 80%;
  min-width: none;
  max-width: none;
}

.ff-width-100--20--20 {
  width: 20%;
  min-width: none;
  max-width: none;
}

.ff-width-100--20--25 {
  width: 25%;
  min-width: none;
  max-width: none;
}

.ff-width-100--20--33-333 {
  width: 33.333%;
  min-width: none;
  max-width: none;
}

.ff-width-100--20--40 {
  width: 40%;
  min-width: none;
  max-width: none;
}

.ff-width-100--20--50 {
  width: 50%;
  min-width: none;
  max-width: none;
}

.ff-width-100--20--60 {
  width: 60%;
  min-width: none;
  max-width: none;
}

.ff-width-100--20--66-666 {
  width: 66.666%;
  min-width: none;
  max-width: none;
}

.ff-width-100--20--75 {
  width: 75%;
  min-width: none;
  max-width: none;
}

.ff-width-100--20--80 {
  width: 80%;
  min-width: none;
  max-width: none;
}

.ff-width-100--25--20 {
  width: 20%;
  min-width: none;
  max-width: none;
}

.ff-width-100--25--25 {
  width: 25%;
  min-width: none;
  max-width: none;
}

.ff-width-100--25--33-333 {
  width: 33.333%;
  min-width: none;
  max-width: none;
}

.ff-width-100--25--40 {
  width: 40%;
  min-width: none;
  max-width: none;
}

.ff-width-100--25--50 {
  width: 50%;
  min-width: none;
  max-width: none;
}

.ff-width-100--25--60 {
  width: 60%;
  min-width: none;
  max-width: none;
}

.ff-width-100--25--66-666 {
  width: 66.666%;
  min-width: none;
  max-width: none;
}

.ff-width-100--25--75 {
  width: 75%;
  min-width: none;
  max-width: none;
}

.ff-width-100--25--80 {
  width: 80%;
  min-width: none;
  max-width: none;
}

.ff-width-100--30--20 {
  width: 20%;
  min-width: none;
  max-width: none;
}

.ff-width-100--30--25 {
  width: 25%;
  min-width: none;
  max-width: none;
}

.ff-width-100--30--33-333 {
  width: 33.333%;
  min-width: none;
  max-width: none;
}

.ff-width-100--30--40 {
  width: 40%;
  min-width: none;
  max-width: none;
}

.ff-width-100--30--50 {
  width: 50%;
  min-width: none;
  max-width: none;
}

.ff-width-100--30--60 {
  width: 60%;
  min-width: none;
  max-width: none;
}

.ff-width-100--30--66-666 {
  width: 66.666%;
  min-width: none;
  max-width: none;
}

.ff-width-100--30--75 {
  width: 75%;
  min-width: none;
  max-width: none;
}

.ff-width-100--30--80 {
  width: 80%;
  min-width: none;
  max-width: none;
}

.ff-width-100--35--20 {
  width: 20%;
  min-width: none;
  max-width: none;
}

.ff-width-100--35--25 {
  width: 25%;
  min-width: none;
  max-width: none;
}

.ff-width-100--35--33-333 {
  width: 33.333%;
  min-width: none;
  max-width: none;
}

.ff-width-100--35--40 {
  width: 40%;
  min-width: none;
  max-width: none;
}

.ff-width-100--35--50 {
  width: 50%;
  min-width: none;
  max-width: none;
}

.ff-width-100--35--60 {
  width: 60%;
  min-width: none;
  max-width: none;
}

.ff-width-100--35--66-666 {
  width: 66.666%;
  min-width: none;
  max-width: none;
}

.ff-width-100--35--75 {
  width: 75%;
  min-width: none;
  max-width: none;
}

.ff-width-100--35--80 {
  width: 80%;
  min-width: none;
  max-width: none;
}

.ff-width-100--40--20 {
  width: 20%;
  min-width: none;
  max-width: none;
}

.ff-width-100--40--25 {
  width: 25%;
  min-width: none;
  max-width: none;
}

.ff-width-100--40--33-333 {
  width: 33.333%;
  min-width: none;
  max-width: none;
}

.ff-width-100--40--40 {
  width: 40%;
  min-width: none;
  max-width: none;
}

.ff-width-100--40--50 {
  width: 50%;
  min-width: none;
  max-width: none;
}

.ff-width-100--40--60 {
  width: 60%;
  min-width: none;
  max-width: none;
}

.ff-width-100--40--66-666 {
  width: 66.666%;
  min-width: none;
  max-width: none;
}

.ff-width-100--40--75 {
  width: 75%;
  min-width: none;
  max-width: none;
}

.ff-width-100--40--80 {
  width: 80%;
  min-width: none;
  max-width: none;
}

.ff-width-100--45--20 {
  width: 20%;
  min-width: none;
  max-width: none;
}

.ff-width-100--45--25 {
  width: 25%;
  min-width: none;
  max-width: none;
}

.ff-width-100--45--33-333 {
  width: 33.333%;
  min-width: none;
  max-width: none;
}

.ff-width-100--45--40 {
  width: 40%;
  min-width: none;
  max-width: none;
}

.ff-width-100--45--50 {
  width: 50%;
  min-width: none;
  max-width: none;
}

.ff-width-100--45--60 {
  width: 60%;
  min-width: none;
  max-width: none;
}

.ff-width-100--45--66-666 {
  width: 66.666%;
  min-width: none;
  max-width: none;
}

.ff-width-100--45--75 {
  width: 75%;
  min-width: none;
  max-width: none;
}

.ff-width-100--45--80 {
  width: 80%;
  min-width: none;
  max-width: none;
}

.ff-width-100--50--20 {
  width: 20%;
  min-width: none;
  max-width: none;
}

.ff-width-100--50--25 {
  width: 25%;
  min-width: none;
  max-width: none;
}

.ff-width-100--50--33-333 {
  width: 33.333%;
  min-width: none;
  max-width: none;
}

.ff-width-100--50--40 {
  width: 40%;
  min-width: none;
  max-width: none;
}

.ff-width-100--50--50 {
  width: 50%;
  min-width: none;
  max-width: none;
}

.ff-width-100--50--60 {
  width: 60%;
  min-width: none;
  max-width: none;
}

.ff-width-100--50--66-666 {
  width: 66.666%;
  min-width: none;
  max-width: none;
}

.ff-width-100--50--75 {
  width: 75%;
  min-width: none;
  max-width: none;
}

.ff-width-100--50--80 {
  width: 80%;
  min-width: none;
  max-width: none;
}

.ff-width-100--55--20 {
  width: 20%;
  min-width: none;
  max-width: none;
}

.ff-width-100--55--25 {
  width: 25%;
  min-width: none;
  max-width: none;
}

.ff-width-100--55--33-333 {
  width: 33.333%;
  min-width: none;
  max-width: none;
}

.ff-width-100--55--40 {
  width: 40%;
  min-width: none;
  max-width: none;
}

.ff-width-100--55--50 {
  width: 50%;
  min-width: none;
  max-width: none;
}

.ff-width-100--55--60 {
  width: 60%;
  min-width: none;
  max-width: none;
}

.ff-width-100--55--66-666 {
  width: 66.666%;
  min-width: none;
  max-width: none;
}

.ff-width-100--55--75 {
  width: 75%;
  min-width: none;
  max-width: none;
}

.ff-width-100--55--80 {
  width: 80%;
  min-width: none;
  max-width: none;
}

.ff-width-100--60--20 {
  width: 20%;
  min-width: none;
  max-width: none;
}

.ff-width-100--60--25 {
  width: 25%;
  min-width: none;
  max-width: none;
}

.ff-width-100--60--33-333 {
  width: 33.333%;
  min-width: none;
  max-width: none;
}

.ff-width-100--60--40 {
  width: 40%;
  min-width: none;
  max-width: none;
}

.ff-width-100--60--50 {
  width: 50%;
  min-width: none;
  max-width: none;
}

.ff-width-100--60--60 {
  width: 60%;
  min-width: none;
  max-width: none;
}

.ff-width-100--60--66-666 {
  width: 66.666%;
  min-width: none;
  max-width: none;
}

.ff-width-100--60--75 {
  width: 75%;
  min-width: none;
  max-width: none;
}

.ff-width-100--60--80 {
  width: 80%;
  min-width: none;
  max-width: none;
}
