// Proves that SASS adds `@charset "UTF-8";` if non-ASCII characters are included:
//.test{content:"∞";}

//$f__base-line-height: 24px; // 1.5
//$f__base-ui-color: #663399; //rebeccapurple #663399 rgb(102,51,153)

// Thoughts on setting root font size:

// https://www.filamentgroup.com/lab/how-we-learned-to-leave-body-font-size-alone.html

// 1:

// "The value of 1em, when used in a CSS3 Media Query such as @media (min-width: 20em), is
// unaffected by the font-size of the body element in most browsers. This means that if we change
// the font-size of the body to something other than 100%, we will need to calculate em values
// differently when they're used in a media query than in a CSS property value. This creates
// inconsistency across a CSS file that is difficult to maintain and document."

// AK: Fair enough, but I'm trying to limit MQ's and should easily be able to run MQ em values
// through a function to get the correct result..?

// 2:

// A default font-size of 10px is illegibly small for text, so if we use a 62.5% base font-size, we
// have to specifically set the font-size of every element that appears on our site to make it
// readable.

// AK: but 16 is too big? Either way setting root font can easily be overridden by setting font-size
// on the <body>.
//
// "specifically set the font-size of every element" - no just <body> unless I missed something?

// 3:

// Lastly, as we move into the browser earlier and earlier in our design processes, we're finding
// that the very idea of an em value relating to pixels is becoming less relevant. Our design
// decisions are now more commonly informed by the context in which a component lives in the page,
// and how it adapts fluidly and proportionally within that environment, regardless of its
// pixel-based scale.

// AK: that's very opinionated and not a good solid argument against setting root font-size.
// All-in-all, only #1 is an actual concern, and not a big one that I can see.

// The big (to me) problem with a font-size of 16px is the vertical rhythm Start-CSS is trying to
// establish.
// E.g. 3px @root font-size of 16px = 0.1875rem. Edge only uses 2 decimal places, so this calculates
// as 2.88px instead (16 x 0.18). It's subpixel rounding then stacks up these fractions and elements
// soon start going off-grid.
// However, 3px @root font-size of 10px = 0.3rem. Simple. Never more than 1 decimal place and Edge
// renders things correctly.

// Tmp:
//$f__button-border-width: 3px;
//$f__button-border-width: 0;
//---

// Note - using @import is bad for performance. I'm using it here to make the final CSS file self-
// contained, but if you're not using that final (which is likely), put the <link> in the HTL
// instead, e.g.:
// <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">

//@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
//$f__base-font-family: 'Open Sans', sans-serif;

//@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
$f__base-font-family: 'Lato', sans-serif;

$f__root-font-size: 10px;

$f__base-ui-color: #604776;
//$f__namespace: '.ugc ';
//$f__namespace: 'main ';



$f__experimental_checkradios: true;

//$f__html-background-color: #604776;


@import '../bower_components/Fall-Back-Start-CSS/scss/_start.scss';


/*-------------------------------------------------------------------------------------------------|

    ACCESSIBILITY / ARIA

|-------------------------------------------------------------------------------------------------*/

@import '../bower_components/Fall-Back-Start-CSS/scss/_start-accessibility.scss';


/*-------------------------------------------------------------------------------------------------|

    UTILITIES

-|------------------------------------------------------------------------------------------------*/

@import '../bower_components/Fall-Back-Start-CSS/scss/_start-utilities.scss';


/*-------------------------------------------------------------------------------------------------|

    ICONS

-|------------------------------------------------------------------------------------------------*/

@import '../bower_components/Fall-Back-Start-CSS/scss/_start-icons.scss';


/*-------------------------------------------------------------------------------------------------|

    EXPERIMENTAL

-|------------------------------------------------------------------------------------------------*/

@import '../bower_components/Fall-Back-Start-CSS/scss/_start-experimental.scss';
