/*
    NeoCLEAR Theme
    Note this theme file needs to be loaded *in addition* to the base 'style' file.
*/

/* --| START THEME |----------------------------------------------------------------------------- */

//@import "_themes-config.scss";
$theme-name: frosttie;
$theme: (
    cta-text-color       : #ffffff,
    cta-background-color : #613392,
    primary-color        : #2b3383,
    secondary-color      : #613392,
    page-header-color    : #ffffff
);

$theme-only: true;
@import "_themeable-patterns.scss";


//$theme: map_get($themes, $theme-name);

@import "_theme";

/* ---------------------------------------------------------------------------------------------- */
