/*
    Text alignment.

    @To Do: allow for responsive variations.
*/

$lists-namespace: u- !default;

.#{$lists-namespace}list--plain,
.#{$lists-namespace}list--plain--m {
    list-style: none;

    > li {
        margin: 0;
        padding: 0;
    }
}


.#{$lists-namespace}list--plain--xs {
    > li {
        padding: $sz-xs 0;
    }
}

.#{$lists-namespace}list--plain--s {
    > li {
        padding: $sz-s 0;
    }
}

.#{$lists-namespace}list--plain--m {
    > li {
        padding: $sz-m 0;
    }
}

.#{$lists-namespace}list--plain--l {
    > li {
        padding: $sz-l 0;
    }
}

.#{$lists-namespace}list--plain--xl {
    > li {
        padding: $sz-xl 0;
    }
}




.#{$lists-namespace}list--inline {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            
    list-style: none;

    > li {
        margin: 0;
        padding: 0;
    }
}


.#{$lists-namespace}list--inline--xs {
    > li {
        margin: $sz-xs;
    }
}

.#{$lists-namespace}list--inline--s {
    > li {
        margin: $sz-s;
    }
}

.#{$lists-namespace}list--inline--m {
    > li {
        margin: $sz-m;
    }
}

.#{$lists-namespace}list--inline--l {
    > li {
        margin: $sz-l;
    }
}

.#{$lists-namespace}list--inline--xl {
    > li {
        margin: $sz-xl;
    }
}