/*

*/

$full-width-namespace: u- !default;

main > :not(.#{$full-width-namespace}full-width) {
    max-width: $measure;
    margin-left: auto;
    margin-right: auto;
}

// Negate main margin:
.#{$full-width-namespace}full-width {
    margin-left: -$f__base-rem-space-unit;
    margin-right: -$f__base-rem-space-unit;
}