/*
*/
$contact-list-namespace: c- !default;
$theme-namespace: t- !default;

$theme-only: false !default;

// Note - no theme yet!

// We don't need this if we're only themeing the pattern:
@if $theme-only == false {

    .#{$contact-list-namespace}contact-list {

        &#{&} {

            dt {
                display: none;
            }
        }
        
        // @TODO - this is a bit "magic number-y":
        .icon {
            margin-left: -1.75em;
            margin-right: 0.5em;
        }
    }

    .#{$contact-list-namespace}contact-avatar {
        &#{&} {
            float: left;
            margin: 0.5em;
            width: 35%;
            min-width: 8em;
            max-width: 16em;
            border-radius: 99999px;
            overflow: hidden;
        }
    }

}