---
layout: structure--project
---
{% assign project_data = site.data.projects[page.project] %}
<div class="l-blockrow">
    <div class="l-blockrow__limit-widthX  d-bands--bottom">
        <div class="l-col-to-row-wrap">
            <section class="l-col-to-row">
                <div class="l-col-to-row__item  ff-width-100--60--50">
                    <div class="c-panel  u-padding--sides--l">
                        <div class="u-max-measure">
                            <h1>
                                PRU-MNHC
                            </h1>

                            {{ content }}
                        </div>
                    </div>
                </div>
                <div class="l-col-to-row__item  ff-width-100--60--50">
                    <div class="u-image-cover  u-image-cover--min-20">
                        <div class="u-image-cover__inner">
                            <img src="/img/prumnhc/Bigstock_54498602.jpg" alt="" class="u-image-cover__image" width="300">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


<div class="l-blockrow">
    <div class="l-blockrow__limit-widthX  d-bands--bottom ">
        <section class="u-padding--sides  u-padding--top  s-updates  c-panel  c-panel--very-dark  u-space--none ">
            <h2>Themes</h2>
            <div class="l-distribute-wrap">
                <div class="l-distribute--flush-edge-gutters">
                    <ul class="l-distribute  l-distribute--gutter--medium  l-distribute--limit-20">
                        <li>
                        
                            <div class="c-card-wrap">
                                <div class="c-card  d-background--sloped">
                                    <a href="#news1" class="c-card__full-link  u-fill-height--column">
                                        <div class="c-card__image">
                                            <div class="l-proportional-container  l-proportional-container--2-1">
                                                <div class="l-proportional-container__content">
                                                    <div class="u-image-cover  js-image-cover">
                                                        <div class="u-image-cover__inner">
                                                            <img src="/img/prumnhc/243722344.jpg" alt="" class="u-image-cover__image" width="300">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="c-card__main">
                                            <h2 class="c-card__title">Theme 1: Pre-conception health and prevention across the maternity pathway</h2>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </li>
                        <li>
                        
                            <div class="c-card-wrap">
                                <div class="c-card  d-background--sloped">
                                    <a href="#news1" class="c-card__full-link  u-fill-height--column">
                                        <div class="c-card__image">
                                            <div class="l-proportional-container  l-proportional-container--2-1">
                                                <div class="l-proportional-container__content">
                                                    <div class="u-image-cover  js-image-cover">
                                                        <div class="u-image-cover__inner">
                                                            <img src="/img/prumnhc/31746467.jpg" alt="" class="u-image-cover__image" width="300">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="c-card__main">
                                            <h2 class="c-card__title">Theme 2: Pregnancy loss and perinatal morbidity and mortality</h2>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </li>
                        <li>
                        
                            <div class="c-card-wrap">
                                <div class="c-card  d-background--sloped">
                                    <a href="#news1" class="c-card__full-link  u-fill-height--column">
                                        <div class="c-card__image">
                                            <div class="l-proportional-container  l-proportional-container--2-1">
                                                <div class="l-proportional-container__content">
                                                    <div class="u-image-cover  js-image-cover">
                                                        <div class="u-image-cover__inner">
                                                            <img src="/img/prumnhc/51457909.jpg" alt="" class="u-image-cover__image" width="300">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="c-card__main">
                                            <h2 class="c-card__title">Theme 3: Maternal health outcomes and experience of care</h2>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </li>
                        <li>
                        
                            <div class="c-card-wrap">
                                <div class="c-card  d-background--sloped">
                                    <a href="#news1" class="c-card__full-link  u-fill-height--column">
                                        <div class="c-card__image">
                                            <div class="l-proportional-container  l-proportional-container--2-1">
                                                <div class="l-proportional-container__content">
                                                    <div class="u-image-cover  js-image-cover">
                                                        <div class="u-image-cover__inner">
                                                            <img src="/img/prumnhc/218720437.jpg" alt="" class="u-image-cover__image" width="300">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="c-card__main">
                                            <h2 class="c-card__title">Theme 4: Neonatal care</h2>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </li>
                        <li>
                        
                            <div class="c-card-wrap">
                                <div class="c-card  d-background--sloped">
                                    <a href="#news1" class="c-card__full-link  u-fill-height--column">
                                        <div class="c-card__image">
                                            <div class="l-proportional-container  l-proportional-container--2-1">
                                                <div class="l-proportional-container__content">
                                                    <div class="u-image-cover  js-image-cover">
                                                        <div class="u-image-cover__inner">
                                                            <img src="/img/prumnhc/286241107.jpg" alt="" class="u-image-cover__image" width="300">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="c-card__main">
                                            <h2 class="c-card__title">Theme 5: Health systems</h2>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>

{% comment %}<!--
<div class="l-blockrow">
    <div class="c-featurette-wrap">
        <div class="c-featurette  c-featurette  t-featurette--dark">
            <div class="c-featurette__body  c-featurette__body--80">
                <blockquote>
                    "Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque tincidunt lorem sit amet enim congue, non molestie arcu aliquam. Vestibulum sagittis feugiat vulputate. Sed pharetra aliquam diam, eu euismod quam ullamcorper in. Sed a tempor tellus. Suspendisse in tellus hendrerit, aliquam ipsum nec, faucibus neque. Fusce a neque urna. Fusce faucibus massa eget laoreet posuere."
                </blockquote>
                <cite>&mdash; Person name</cite>
            </div>
            <div class="c-featurette__image  c-featurette__image--round  c-featurette__image--pull-up  d-bands">
                <div class="l-proportional-container  l-proportional-container--1-1">
                    <div class="l-proportional-container__content">
                        <div class="u-image-cover  js-image-cover">
                            <div class="u-image-cover__inner">
                                <img src="/img/patterns/placeholder-person.jpg" alt="" class="u-image-cover__image" width="200">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->{% endcomment %}

<div class="l-blockrow">
    <div class="l-blockrow__limit-widthX  d-bands--bottom ">
        <div class="l-col-to-row-wrap">
            <div class="l-col-to-row">
                <div class="l-col-to-row__item  ff-width-100--60--66-666">
                    <section class="u-space--below--none  u-padding--sides  u-padding--top  s-updates  c-panel  u-space--none  t-white">
                        <h2>PRU-MNHC Co-investigator team</h2>
                        <ul class="gallery-grid  gallery-grid--gutter--medium  gallery-grid--basis-20">

                            <li class="gallery-grid__item">
                                <article class="c-glimpse">
                                    <div class="c-glimpse__header">
                                        <a href="https://www.npeu.ox.ac.uk/people/jenny-kurinczuk-659">
                                            <h3 class="c-glimpse__heading"><span>Jenny Kurinczuk</span></h3>
                                            <div class="c-glimpse__image  c-glimpse__image--rounded">
                                                <div class="l-proportional-container  l-proportional-container--1-1">
                                                    <div class="l-proportional-container__content">
                                                        <div class="u-image-cover  js-image-cover">
                                                            <div class="u-image-cover__inner">
                                                                <img src="https://www.npeu.ox.ac.uk/img/avatars/jenny-kurinczuk-659-avatar.jpg?s=144" alt="" class="u-image-cover__image" width="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="c-glimpse__content">
                                        <p>(Director), Professor of Perinatal Epidemiology, Director, National Perinatal Epidemiology Unit, University of Oxford</p>
                                    </div>
                                </article>
                            </li>


                            <li class="gallery-grid__item">
                                <article class="c-glimpse">
                                    <div class="c-glimpse__header">
                                        <a href="https://www.npeu.ox.ac.uk/people/fiona-alderdice-860">
                                            <h3 class="c-glimpse__heading"><span>Fiona Alderdice</span></h3>
                                            <div class="c-glimpse__image  c-glimpse__image--rounded">
                                                <div class="l-proportional-container  l-proportional-container--1-1">
                                                    <div class="l-proportional-container__content">
                                                        <div class="u-image-cover  js-image-cover">
                                                            <div class="u-image-cover__inner">
                                                                <img src="https://www.npeu.ox.ac.uk/img/avatars/fiona-alderdice-860-avatar.jpg?s=144" alt="" class="u-image-cover__image" width="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="c-glimpse__content">
                                        <p>Senior Social Scientist</p>
                                    </div>
                                </article>
                            </li>

                            <li class="gallery-grid__item">
                                <article class="c-glimpse">
                                    <div class="c-glimpse__header">
                                        <a href="#">
                                            <h3 class="c-glimpse__heading"><span>Charlotte Bevan</span></h3>
                                            <div class="c-glimpse__image  c-glimpse__image--rounded">
                                                <div class="l-proportional-container  l-proportional-container--1-1">
                                                    <div class="l-proportional-container__content">
                                                        <div class="u-image-cover  js-image-cover">
                                                            <div class="u-image-cover__inner">
                                                                <img src="https://lab.npeu.ox.ac.uk/wireframes/img/Placeholder_person.jpg" alt="" class="u-image-cover__image" width="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="c-glimpse__content">
                                        <p>PPPI</p>
                                    </div>
                                </article>
                            </li>

                            <li class="gallery-grid__item">
                                <article class="c-glimpse">
                                    <div class="c-glimpse__header">
                                        <a href="https://www.birmingham.ac.uk/staff/profiles/applied-health/brocklehurst-peter.aspx">
                                            <h3 class="c-glimpse__heading"><span>Peter Brocklehurst</span></h3>
                                            <div class="c-glimpse__image  c-glimpse__image--rounded">
                                                <div class="l-proportional-container  l-proportional-container--1-1">
                                                    <div class="l-proportional-container__content">
                                                        <div class="u-image-cover  js-image-cover">
                                                            <div class="u-image-cover__inner">
                                                                <img src="https://www.npeu.ox.ac.uk/img/avatars/peter-brocklehurst-606-avatar.jpg?s=144" alt="" class="u-image-cover__image" width="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="c-glimpse__content">
                                        <p>Professor of Perinatal Epidemiology / Co-Director of PRU-MHC, NPEU</p>
                                    </div>
                                </article>
                            </li>

                            <li class="gallery-grid__item">
                                <article class="c-glimpse">
                                    <div class="c-glimpse__header">
                                        <a href="https://www.npeu.ox.ac.uk/people/claire-carson-628">
                                            <h3 class="c-glimpse__heading"><span>Claire Carson</span></h3>
                                            <div class="c-glimpse__image  c-glimpse__image--rounded">
                                                <div class="l-proportional-container  l-proportional-container--1-1">
                                                    <div class="l-proportional-container__content">
                                                        <div class="u-image-cover  js-image-cover">
                                                            <div class="u-image-cover__inner">
                                                                <img src="https://www.npeu.ox.ac.uk/img/avatars/claire-carson-628-avatar.jpg?s=144" alt="" class="u-image-cover__image" width="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="c-glimpse__content">
                                        <p>Senior Researcher in Epidemiology</p>
                                    </div>
                                </article>
                            </li>

                            <li class="gallery-grid__item">
                                <article class="c-glimpse">
                                    <div class="c-glimpse__header">
                                        <a href="https://www.npeu.ox.ac.uk/people/jenny-kurinczuk-659">
                                            <h3 class="c-glimpse__heading"><span>Elizabeth Draper</span></h3>
                                            <div class="c-glimpse__image  c-glimpse__image--rounded">
                                                <div class="l-proportional-container  l-proportional-container--1-1">
                                                    <div class="l-proportional-container__content">
                                                        <div class="u-image-cover  js-image-cover">
                                                            <div class="u-image-cover__inner">
                                                                <img src="https://lab.npeu.ox.ac.uk/wireframes/img/Placeholder_person.jpg" alt="" class="u-image-cover__image" width="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="c-glimpse__content">
                                        <p>Professor of Paediatric and Perinatal Epidemiology, Department of Health Sciences, University of Leicester</p>
                                    </div>
                                </article>
                            </li>

                            <li class="gallery-grid__item">
                                <article class="c-glimpse">
                                    <div class="c-glimpse__header">
                                        <a href="#">
                                            <h3 class="c-glimpse__heading"><span>Chris Gale</span></h3>
                                            <div class="c-glimpse__image  c-glimpse__image--rounded">
                                                <div class="l-proportional-container  l-proportional-container--1-1">
                                                    <div class="l-proportional-container__content">
                                                        <div class="u-image-cover  js-image-cover">
                                                            <div class="u-image-cover__inner">
                                                                <img src="https://lab.npeu.ox.ac.uk/wireframes/img/Placeholder_person.jpg" alt="" class="u-image-cover__image" width="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="c-glimpse__content">
                                        <p>Clinical Senior Lecturer in Neonatal Medicine and Honorary Consultant, Neonatal Medicine, Imperial College London</p>
                                    </div>
                                </article>
                            </li>

                            <li class="gallery-grid__item">
                                <article class="c-glimpse">
                                    <div class="c-glimpse__header">
                                        <a href="#">
                                            <h3 class="c-glimpse__heading"><span>Alex Heazell</span></h3>
                                            <div class="c-glimpse__image  c-glimpse__image--rounded">
                                                <div class="l-proportional-container  l-proportional-container--1-1">
                                                    <div class="l-proportional-container__content">
                                                        <div class="u-image-cover  js-image-cover">
                                                            <div class="u-image-cover__inner">
                                                                <img src="https://lab.npeu.ox.ac.uk/wireframes/img/Placeholder_person.jpg" alt="" class="u-image-cover__image" width="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="c-glimpse__content">
                                        <p>Professor of Obstetrics and Clinical Director of the Tommy's Research Centre, Manchester Academic Health Science Centre, University of Mancheste</p>
                                    </div>
                                </article>
                            </li>

                            <li class="gallery-grid__item">
                                <article class="c-glimpse">
                                    <div class="c-glimpse__header">
                                        <a href="#">
                                            <h3 class="c-glimpse__heading"><span>Sara Kenyon</span></h3>
                                            <div class="c-glimpse__image  c-glimpse__image--rounded">
                                                <div class="l-proportional-container  l-proportional-container--1-1">
                                                    <div class="l-proportional-container__content">
                                                        <div class="u-image-cover  js-image-cover">
                                                            <div class="u-image-cover__inner">
                                                                <img src="https://lab.npeu.ox.ac.uk/wireframes/img/Placeholder_person.jpg" alt="" class="u-image-cover__image" width="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="c-glimpse__content">
                                        <p>Professor of Evidence Based Maternity Care, Institute of Applied Health Research, University of Birmingham</p>
                                    </div>
                                </article>
                            </li>

                            <li class="gallery-grid__item">
                                <article class="c-glimpse">
                                    <div class="c-glimpse__header">
                                        <a href="https://www.npeu.ox.ac.uk/people/marian-knight-629">
                                            <h3 class="c-glimpse__heading"><span>Marian Knight</span></h3>
                                            <div class="c-glimpse__image  c-glimpse__image--rounded">
                                                <div class="l-proportional-container  l-proportional-container--1-1">
                                                    <div class="l-proportional-container__content">
                                                        <div class="u-image-cover  js-image-cover">
                                                            <div class="u-image-cover__inner">
                                                                <img src="https://www.npeu.ox.ac.uk/img/avatars/marian-knight-629-avatar.jpg?s=144" alt="" class="u-image-cover__image" width="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="c-glimpse__content">
                                        <p>Professor of Maternal and Child Population Health</p>
                                    </div>
                                </article>
                            </li>

                            <li class="gallery-grid__item">
                                <article class="c-glimpse">
                                    <div class="c-glimpse__header">
                                        <a href="#">
                                            <h3 class="c-glimpse__heading"><span>Neena Modi</span></h3>
                                            <div class="c-glimpse__image  c-glimpse__image--rounded">
                                                <div class="l-proportional-container  l-proportional-container--1-1">
                                                    <div class="l-proportional-container__content">
                                                        <div class="u-image-cover  js-image-cover">
                                                            <div class="u-image-cover__inner">
                                                                <img src="https://lab.npeu.ox.ac.uk/wireframes/img/Placeholder_person.jpg" alt="" class="u-image-cover__image" width="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="c-glimpse__content">
                                        <p>Professor of Neonatal Medicine, Imperial College London</p>
                                    </div>
                                </article>
                            </li>

                            <li class="gallery-grid__item">
                                <article class="c-glimpse">
                                    <div class="c-glimpse__header">
                                        <a href="#">
                                            <h3 class="c-glimpse__heading"><span>Rachel Plachcinski</span></h3>
                                            <div class="c-glimpse__image  c-glimpse__image--rounded">
                                                <div class="l-proportional-container  l-proportional-container--1-1">
                                                    <div class="l-proportional-container__content">
                                                        <div class="u-image-cover  js-image-cover">
                                                            <div class="u-image-cover__inner">
                                                                <img src="https://lab.npeu.ox.ac.uk/wireframes/img/Placeholder_person.jpg" alt="" class="u-image-cover__image" width="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="c-glimpse__content">
                                        <p>PPPI</p>
                                    </div>
                                </article>
                            </li>

                            <li class="gallery-grid__item">
                                <article class="c-glimpse">
                                    <div class="c-glimpse__header">
                                        <a href="https://www.npeu.ox.ac.uk/people/maria-quigley-648">
                                            <h3 class="c-glimpse__heading"><span>Maria Quigley</span></h3>
                                            <div class="c-glimpse__image  c-glimpse__image--rounded">
                                                <div class="l-proportional-container  l-proportional-container--1-1">
                                                    <div class="l-proportional-container__content">
                                                        <div class="u-image-cover  js-image-cover">
                                                            <div class="u-image-cover__inner">
                                                                <img src="https://www.npeu.ox.ac.uk/img/avatars/maria-quigley-648-avatar.jpg?s=144" alt="" class="u-image-cover__image" width="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="c-glimpse__content">
                                        <p>Professor of Statistical Epidemiology</p>
                                    </div>
                                </article>
                            </li>

                            <li class="gallery-grid__item">
                                <article class="c-glimpse">
                                    <div class="c-glimpse__header">
                                        <a href="https://www.npeu.ox.ac.uk/people/oliver-rivero-arias-774">
                                            <h3 class="c-glimpse__heading"><span>Oliver Rivero Arias</span></h3>
                                            <div class="c-glimpse__image  c-glimpse__image--rounded">
                                                <div class="l-proportional-container  l-proportional-container--1-1">
                                                    <div class="l-proportional-container__content">
                                                        <div class="u-image-cover  js-image-cover">
                                                            <div class="u-image-cover__inner">
                                                                <img src="https://www.npeu.ox.ac.uk/img/avatars/oliver-rivero-arias-774-avatar.jpg?s=144" alt="" class="u-image-cover__image" width="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="c-glimpse__content">
                                        <p>Associate Professor in Health Economics - Senior Health Economist</p>
                                    </div>
                                </article>
                            </li>

                            <li class="gallery-grid__item">
                                <article class="c-glimpse">
                                    <div class="c-glimpse__header">
                                        <a href="https://www.npeu.ox.ac.uk/people/rachel-rowe-603">
                                            <h3 class="c-glimpse__heading"><span>Rachel Rowe</span></h3>
                                            <div class="c-glimpse__image  c-glimpse__image--rounded">
                                                <div class="l-proportional-container  l-proportional-container--1-1">
                                                    <div class="l-proportional-container__content">
                                                        <div class="u-image-cover  js-image-cover">
                                                            <div class="u-image-cover__inner">
                                                                <img src="https://www.npeu.ox.ac.uk/img/avatars/rachel-rowe-603-avatar.jpg?s=144" alt="" class="u-image-cover__image" width="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="c-glimpse__content">
                                        <p>University Research Lecturer</p>
                                    </div>
                                </article>
                            </li>

                            <li class="gallery-grid__item">
                                <article class="c-glimpse">
                                    <div class="c-glimpse__header">
                                        <a href="http://www.cardiff.ac.uk/people/view/39335-sanders-julia">
                                            <h3 class="c-glimpse__heading"><span>Julia Sanders</span></h3>
                                            <div class="c-glimpse__image  c-glimpse__image--rounded">
                                                <div class="l-proportional-container  l-proportional-container--1-1">
                                                    <div class="l-proportional-container__content">
                                                        <div class="u-image-cover  js-image-cover">
                                                            <div class="u-image-cover__inner">
                                                                <img src="https://lab.npeu.ox.ac.uk/wireframes/img/Placeholder_person.jpg" alt="" class="u-image-cover__image" width="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="c-glimpse__content">
                                        <p>PPPI</p>
                                    </div>
                                </article>
                            </li>

                            <li class="gallery-grid__item">
                                <article class="c-glimpse">
                                    <div class="c-glimpse__header">
                                        <a href="#">
                                            <h3 class="c-glimpse__heading"><span>Dimitrios Siassakos</span></h3>
                                            <div class="c-glimpse__image  c-glimpse__image--rounded">
                                                <div class="l-proportional-container  l-proportional-container--1-1">
                                                    <div class="l-proportional-container__content">
                                                        <div class="u-image-cover  js-image-cover">
                                                            <div class="u-image-cover__inner">
                                                                <img src="https://lab.npeu.ox.ac.uk/wireframes/img/Placeholder_person.jpg" alt="" class="u-image-cover__image" width="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="c-glimpse__content">
                                        <p>Reader in Obstetrics, University College London and University College Hospital</p>
                                    </div>
                                </article>
                            </li>

                            <li class="gallery-grid__item">
                                <article class="c-glimpse">
                                    <div class="c-glimpse__header">
                                        <a href="#">
                                            <h3 class="c-glimpse__heading"><span>Alan Stein</span></h3>
                                            <div class="c-glimpse__image  c-glimpse__image--rounded">
                                                <div class="l-proportional-container  l-proportional-container--1-1">
                                                    <div class="l-proportional-container__content">
                                                        <div class="u-image-cover  js-image-cover">
                                                            <div class="u-image-cover__inner">
                                                                <img src="https://lab.npeu.ox.ac.uk/wireframes/img/Placeholder_person.jpg" alt="" class="u-image-cover__image" width="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="c-glimpse__content">
                                        <p>Professor Child and Adolescent Psychiatry, Head of Section Child and Adolescent Psychiatry, University of Oxford</p>
                                    </div>
                                </article>
                            </li>

                        </ul>
                        <p>
                            <a href="#" class="cta  cta--has-icon">Find out more about the PRU Research team<svg display="none" class="icon" aria-hidden="true"><use xlink:href="#icon-chevron-right"></use></svg></a>
                            <br><small>Links to page that displays all PRU staff.</small>
                        </p>

                    </section>
                </div>

                <div class="l-col-to-row__item  ff-width-100--60--33-333  d-background--very-light">
                    <section class="u-padding--sides  u-padding--top  s-updates  c-panel  c-panel--very-light  u-space--none ">
                        <h2>Contact Us</h2>
                        <div class="u-space--below d-bands">
                            <div class="c-map  c-map--300" id="test-map">
                                <p class="u-text-align--center">
                                    <img src="https://api.mapbox.com/styles/v1/mapbox/streets-v10/static/-1.21574715729,51.751613839,13,0,0/600x600?access_token=pk.eyJ1IjoiYW5keWtraXJrIiwiYSI6ImNqbGh3a3FnbzA1aDMza204eDJnMmVhMmMifQ.I7diR0BZvQWzn2okKy6qIQ" alt="">
                                </p>
                                <p class="u-text-align--center">No javascript available, can't display an interactive map.</p>
                            </div>

                            <script>
                            leafletMapInitialize('test-map', {"lat":51.751613839,"lng":-1.21574715729,"zoom":13,"token":"pk.eyJ1IjoiYW5keWtraXJrIiwiYSI6ImNqbGh3a3FnbzA1aDMza204eDJnMmVhMmMifQ.I7diR0BZvQWzn2okKy6qIQ"}, [{"lat":"true","lng":"true","color":"blue","popup":"NPEU Address"}]);
                            </script>
                        </div>

                        <dl class="c-contact-list" itemscope="itemscope" itemtype="http://schema.org/Person">
                            <dt>Name</dt>
                            <dd class="name"><svg display="none" class="icon" aria-hidden="true"><use xlink:href="#icon-person"></use></svg><a href="https://www.npeu.ox.ac.uk/people/jenny-kurinczuk-659"><span itemprop="honorificPrefix">Prof</span> <span itemprop="name">Jenny Kurinczuk</span></a></dd>
                            <dt>Organisation</dt>
                            <dd itemprop="name" class=""><svg display="none" class="icon" aria-hidden="true"><use xlink:href="#icon-building"></use></svg>Policy Research Unit in Maternal Health &amp; Care (PRU-MHC)</dd>
                            <dt>Address</dt>
                            <dd itemprop="streetAddress" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
                                <span itemprop="addressLocality">National Perinatal Epidemiology Unit (NPEU)<br>
                                Nuffield Department of Population Health<br>
                                University of Oxford<br>
                                Old Road Campus</span><br>
                                <span itemprop="addressLocality">Oxford</span><br>
                                <span itemprop="postalCode">OX3 7LF</span>
                            </dd>
                            <dt>Email</dt>
                            <dd itemprop="email" class=""><svg display="none" class="icon" aria-hidden="true"><use xlink:href="#icon-email"></use></svg><span itemprop="email">jenny.kurinczuk@npeu.ox.ac.uk</span></dd>
                            <dt>Telephone</dt>
                            <dd itemprop="telephone" class=""><svg display="none" class="icon" aria-hidden="true"><use xlink:href="#icon-phone"></use></svg>01865 289719</dd>
                            <dt>Fax</dt>
                            <dd itemprop="faxNumber" class=""><svg display="none" class="icon" aria-hidden="true"><use xlink:href="#icon-fax"></use></svg>01865 289701</dd>
                        </dl>


                    </section>
                    <section class="u-space--below--none  u-padding--sides  u-padding--top  s-updates  c-panel  c-panel--very-light  u-space--none">
                        <h2>PPPI</h2>
                        <p>
                            Parent, Patient and Public Involvement (PPPI) is at the heart of our vision for the PRU-MNHC and is embedded in every aspect of strategy and delivery. Co-investigators Rachel Plachcinski and Charlotte Bevan are the co-chairs of our PPPI stakeholder network meetings, and support wider stakeholder engagement for our overall strategy and individual projects. Through our PPPI strategy we aim to identify effective ways to empower service users to shape the work of the PRU-MNHC through shared decision making. The integration of the perceptions and experiences of patients, the public, parents and families in our work is essential to produce high quality, inclusive research, policy and care.
                        </p>
                        <p>
                            <a href="#" class="cta  cta--has-icon">Find out more about our PPPI work<svg display="none" class="icon" aria-hidden="true"><use xlink:href="#icon-chevron-right"></use></svg></a>
                            <br><small>Links to page about PPPI.</small>
                        </p>

                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

{% if page.display_funder %}
<div class="l-blockrow">
    <div class="l-blockrow__limit-widthX  d-bands--bottom ">
        <div class="l-col-to-row-wrap">
            <div class="l-col-to-row">

                <div class="l-col-to-row__item  ff-width-100--50--66-666">
                    <div class="u-image-cover  u-image-cover--min-30">
                        <div class="u-image-cover__inner">
                            <img class="u-image-cover__image" src="/img/{{ page.project }}/baby-asleep-198666544.jpg" width="150" alt="">
                        </div>
                    </div>
                </div>


                <div class="l-col-to-row__item  ff-width-100--50--33-333">
                    <div class="c-panel  u-fill-heightX">
                        {% capture funder_module %}module__funder--{{ page.project }}.html{% endcapture %}
                        {% include {{ funder_module }} %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}